# This script is gathering the data collected by students
## input: four directories one per each student each directory has 4 consequetive files per block 
## output: timestame, user, ap1, ap2, ap3, .... x, y

In [0]:
#get necessary library
import datetime
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import time
import seaborn
import os
from google.colab import drive

#%matplotlib notebook
#%matplotlib notebook
%matplotlib inline

In [0]:
#mount google drive as a local hard
def load_drive():
  drive.mount('/content/gdrive')
load_drive()
#  4/yAAcrbE2vpNNZaEKL63PGWT5vi5uUZQEiGbmq1j3xeHTMOB9y-R3ryE

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [0]:
main_dir = '/content/gdrive/My Drive/australia_phd/phd_data/1/'
#rss_path_all = '/content/gdrive/My Drive/Colab Notebooks/gen_data_set/allData_device_before_3Aug.csv'
blocks_start = 'plan.csv'
st_name_id = {2:'hassan'}
#1:'azifa',2:'hassan', 3:'ibrahim', 4:'mahmoud'}
our_dir = 'out_data_1.csv'
pd_filter_data = [['13'],['17'],['4'],['21'],['18'],['6'],['22'],['9'],['19'],['8'],['12'],['38'],['37'],['39'],['15'],['33'],['7'],['11'],['3'],['10']]

Create some helping functions:

1.   **load_data_set** for reading data from a file
2.   **filter_columns** filter panda 
1.   **add_mis_acc** add missing access points and transpose
2.   **trans_add_time_name_loc** transpose the record and add user id,  the timestamp and location x, y

In [0]:
def load_data_set(path):
  data_set = pd.read_csv(path, header = None)
  return data_set
tmp_table = load_data_set(main_dir+blocks_start)
print(tmp_table[tmp_table[0]=='25-09-2019'][1])

Series([], Name: 1, dtype: int64)

In [0]:
def filter_columns(pd_f, filter_col):
  return pd_f[filter_col]
filter_columns(tmp_table,[0])

             0
0   2019-09-25
1   2019-09-26
2   2019-09-27
3   2019-09-28
4   2019-09-29
5   2019-09-30
6   2019-10-01
7   2019-10-02
8   2019-10-03
9   2019-10-04
10  2019-10-05

In [0]:
def add_mis_acc(pd_to_filter, pd_filter):
  # Create the pandas DataFrame 
  pd_to_filter.columns = ['ap','rss']
  #print(pd_)
  result = pd.merge(pd_filter,pd_to_filter, left_on= 'ap',right_on = 'ap', how='left')
  result['rss'] = result['rss'].fillna(-100)
  result.sort_values(by='ap',ascending=True,inplace=True)
  #result=result.sort_values(by='ap', axis = 0,  inplace = True, ascending = True)
  return result

pd_filter = pd.DataFrame(pd_filter_data, columns = ['ap']) 
pd_to_filter = load_data_set('/content/gdrive/My Drive/australia_phd/phd_data/1/azifa/2019-10-05-144039.csv')
res=filter_columns(pd_to_filter,[0,5])
print(res[5])
#pd.DataFrame([['13',-20],['12',-30],['Atif Elboob',30]], columns=[0,1])
res = add_mis_acc(res,pd_filter)
print(res)

0     -65 dBm
1     -65 dBm
2     -66 dBm
3     -65 dBm
4     -66 dBm
5     -69 dBm
6     -73 dBm
7     -72 dBm
8     -73 dBm
9     -72 dBm
10    -80 dBm
11    -78 dBm
12    -76 dBm
13    -87 dBm
14    -82 dBm
15    -83 dBm
16    -82 dBm
17    -85 dBm
18    -87 dBm
19    -82 dBm
Name: 5, dtype: object
    ap      rss
19  10     -100
17  11  -85 dBm
10  12     -100
0   13  -82 dBm
14  15     -100
1   17  -82 dBm
4   18     -100
8   19     -100
3   21     -100
6   22  -78 dBm
18   3  -82 dBm
15  33     -100
12  37  -87 dBm
11  38     -100
13  39  -83 dBm
2    4  -76 dBm
5    6     -100
16   7     -100
9    8  -69 dBm
7    9  -87 dBm

In [0]:
def trans_add_time_name_loc(df, data_req, x, y, user=1000):
  df = df.set_index('ap').T
  df['date'] = data_req
  df['x'] = x
  df['y'] = y
  df['user'] = user
  return df
res2 = trans_add_time_name_loc(res,'22-3-2019 3343',1,2)

In [0]:
def join_pands(pd1, pd2):
  pd_res = [pd1,pd2]
  return pd.concat(pd_res)
pd1 = res2.copy()
pd2 = res2.copy()
join_pands(pd1,pd2)

ap     10       11    12       13    15  ...        9            date  x  y  user
rss  -100  -85 dBm  -100  -82 dBm  -100  ...  -87 dBm  22-3-2019 3343  1  2  1000
rss  -100  -85 dBm  -100  -82 dBm  -100  ...  -87 dBm  22-3-2019 3343  1  2  1000

[2 rows x 24 columns]

In [0]:
def saveCSV(df, filePath):
  df.to_csv(index=False,path_or_buf=filePath)
saveCSV(pd.DataFrame({'name': ['Raphael', 'Donatello'],'mask': ['red', 'purple'], 'weapon': ['sai', 'bo staff']}), main_dir+"azifa"+"/"+"azifa")

In [0]:
def orch():
  load_drive()
  startBlock = load_data_set(main_dir+blocks_start)
  startBlock[0] = startBlock[0].str.strip()
  startBlock[1] = startBlock[1].astype(int)
  startBlock.columns = ['date', 'start']
  startBlockIndX = 0
  startBlockIndy = 0
  accumY = 0
  maxY = 132
  count = 0
  finalRes = pd.DataFrame()
  for k, v in st_name_id.items():
    internalBlockIndy = 0
    glbBlockIndy = 0
    accumY = 0
    destdir = main_dir+v+"/"
    files = [ f for f in os.listdir(destdir) if (os.path.isfile(os.path.join(destdir,f) ) and '.csv' in f)]
    #print(v)
    files.sort()
    #print(len(files))
    #return
    finalRes = pd.DataFrame()
    prevDate = '1990-09-09'
    #print(files)
    #return
    for f in files:
      sdatetime = f[0:-4].strip()       #trimed from .csv
      sdate = sdatetime[0:-7].strip()   #trimed from time
      #print("start")
      count = count + 1
      #print(".")
      #print(sdate)
      #print(count)
      #retur
      currentDate = startBlock[startBlock['date']==sdate].start.values[0]
      #prevDate = currentDate
      if(currentDate != prevDate):
        print(currentDate)
        print(prevDate)
        glbBlockIndy = 0
      xVal =  currentDate + glbBlockIndy//maxY

      #return
      y =  glbBlockIndy%maxY
      yVal = y // 4 
      glbBlockIndy = glbBlockIndy + 1
      internalBlockIndy = internalBlockIndy + 1
      fPath = destdir+f         #fullpath of the file
      sRecord = load_data_set(fPath)   
      #print(fPath)
      sRecord = filter_columns(sRecord, [0,5])
      #sRecord.columns = ['ap','rss']
      sRecord[5] = sRecord[5].apply(lambda x: x[:-4])
      sRecord[0] = sRecord[0].astype(str)
      #print(sRecord.dtypes)
      sRecord = add_mis_acc(sRecord,pd_filter)

      record = trans_add_time_name_loc(sRecord,sdatetime,xVal,yVal,k)
      if(count == 0):
        finalRes = join_pands(pd1,record)
      else:
        finalRes = join_pands(finalRes,record)
      
      prevDate = currentDate

    outFilePath = destdir+v+".cst"
    print("output: " + outFilePath)
    saveCSV(finalRes,outFilePath)  
st_name_id = {1:'azifa',2:'hassan', 3:'ibrahim', 4:'mahmoud'}
orch()

Mounted at /content/gdrive
0
1990-09-09
2
0
7
2
9
7
output: /content/gdrive/My Drive/australia_phd/phd_data/1/azifa/azifa.cst
0
1990-09-09
2
0
7
2
9
7
output: /content/gdrive/My Drive/australia_phd/phd_data/1/hassan/hassan.cst
0
1990-09-09
2
0
7
2
9
7
output: /content/gdrive/My Drive/australia_phd/phd_data/1/ibrahim/ibrahim.cst
0
1990-09-09
2
0
7
2
9
7
output: /content/gdrive/My Drive/australia_phd/phd_data/1/mahmoud/mahmoud.cst